################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# KaguyaBot
/.vs/Kaguya/v16
/Kaguya/obj/Debug
/KaguyaProjectV2/.vs/*/
/KaguyaProjectV2/bin/Debug/netcoreapp2.2
/KaguyaProjectV2/obj/Debug/netcoreapp2.2
/KaguyaProjectV2/obj
/KaguyaProjectV2/Resources
/Kaguya/KaguyaWebBlazor/*

# Blazor
/KaguyaWebBlazor/obj
/KaguyaWebBlazor/obj/bin/Debug/netcoreapp3.0

*.suo