# KaguyaBot
/.vs/Kaguya/v16
/Kaguya/obj/Debug
/KaguyaProjectV2/.vs/*/
/KaguyaProjectV2/bin
/KaguyaProjectV2/obj
/KaguyaProjectV2/Resources
/Kaguya/KaguyaWebBlazor/*

*.suo
/KaguyaProjectV2/appsettings.json
/KaguyaProjectV2/Properties/launchSettings.json
/KaguyaProjectV2/LavalinkServer/logs/

# Other
**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.idea
KaguyaProjectV2/KaguyaProjectV2.csproj.user
**/LavalinkServer/logs